<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<section id="menu">
  <li><a href="#" class="class-menu"><div class="line-menu elem-one"></div><div class="line-menu elem-two"></div><div class="line-menu elem-three"></div></a>
        <ul class="sousMenu">
                <li><a href="/showcase/Idea">IDEA</a></li>
                <li><a href="/showcase/Legend">LEGEND</a></li>
                <li><a href="/store">PRODUCTS</a></li>
                <li><a href="#">WORK WITH US</a></li>
                <li><a href="#">PRESS</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#"><img src="/elem/Btn-langue.png" alt="bouton-langue" class="menu-button bouton-langue" /></a></li>
                <%= link_to image_tag("/elem/shopping-bag.png", :class =>"panier-header-menu"), current_cart %>
                <ul class="nav pull-right">
                  <div class="cart-count-menu">
                    <% if current_cart %>
                      <li><%= current_cart.cart_count%></li>
                    <% end %>
                  </div>
              </ul>
                <li><a href="#"><img src="/elem/connexion.png" alt="bouton-langue" class="menu-button connexion" /></a></li>
                <li><a href="#"><img src="/elem/fb-insta.png" alt="bouton-langue" class="menu-button fb-insta" /></a></li>
        </ul>
  </li>
</section>
<%= yield %>
</body>
</html>
