<% if notice %>
<p id="notice"><%= notice %></p>
<% end%>

<section class="cart-div">
  <h2> Panier </h2>
  <table>
    <% @cart.line_items.each do |item| %>
      <tr>
        <td> <%= image_tag(item.product.image_url, :class => 'the_img') %></td>
        <td>  <%= item.product.title %>&nbsp&times;</td>
        <td> <%= item.quantity%></td>
        <td><%=number_to_currency(item.product.price)%>&nbsp</td>
        <td><%= number_to_currency(item.total_price)%></td>
        <td><%= button_to 'Delete', item, :method => :delete, :confirm=>'Are you Sure?' %></td>
      </tr>
    <% end %>
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>
  <%= button_to "Checkout", new_order_path, method: :get %> 
  <%= link_to 'Empty cart', @cart, method: :delete, data: {confirm:'Are you sure?'} %> |
  <%= link_to 'Back', store_path %>
<section>
