<% if notice %>
<p id="notice"><%=notice%></p>
<%end %>

<div class="cart-count-link">
<%= link_to image_tag("/elem/shopping-bag.png", :class =>"panier-header-store"), current_cart %>
<ul class="nav pull-right">
  <div class="cart-count-store">
    <% if current_cart %>
      <li><%= current_cart.cart_count%></li>
    <% end %>
  </div>
</ul>
</div>
<section class="product_section_1">
  <header id="top" class="header-store">
    <div class="img-top container">
      <a href="/showcase/Home"> <p><%=image_tag("logo.png", :class => 'logo_img col-xs-3 col-xs-offset-5 col-sm-3 col-sm-offset-5 col-md-3 col-md-offset-5 col-lg-3 col-lg-offset-5')%></p></a>
      <p class="title col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-lg-2 col-lg-offset-5"> nos collections</p>
            <div class="img_tasse col-xs-2 col-xs-offset-6 col-sm-2 col-sm-offset-6 col-md-2 col-md-offset-6 col-lg-2 col-lg-offset-6"><%=image_tag("tasse-section-1.png")%></div>
    </div>
    <div class="block-sultan container">
      <h1 class="col-xs-5 col-xs-offset-5 col-sm-5 col-sm-offset-5 col-md-4 col-md-offset-5 col-lg-3 col-lg-offset-5 line_title">Les infusions du Sultan</h1>
      <div class="row">
        <div class="img_back col-xs-10 col-xs-offset-0 col-sm-10 col-sm-offset-0 col-md-9 col-md-offset-0 col-lg-9 col-lg-offset-1"><%=image_tag("photo-back-section-1.png")%></div>
        <div class="illu_front col-xs-6 col-xs-offset-7 col-sm-6 col-sm-offset-7 col-md-4 col-md-offset-7 col-lg-4 col-lg-offset-7"><%=image_tag("illu-front-section-1.png")%></div>
      </div>
      <p class="txt_soli col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2"> le roi preferé des francais, François 1er fut connu pour son amour de l'élegance, du raffinement et de la culture. Contemporain
      de Soliman, ils établirent ensemble les premières relations diplomatiques au monde.</p>
  </div>
</header>
  <div class="row prod">
    <% cache ['store', Product.latest] do %>
    <% @type1.each_with_index do |product, index| %>
    <% cache ['entry', product] do %>
      <div class="product-tile">
        <div class="entry col-xs-2 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col col-lg-4 col-lg-offset-0 col">
          <h3><%= product.title %></h3>
          <div class="product_img img-responsive">
            <%= image_tag(product.image_url, :class => 'the_img') %>
            <%= link_to 'Discover', '#', class: %w(poplight discover), data: { rel: "popup_type1#{index}", width: "1000"} %>
              <div id="popup_type1<%= index %>" class="popup_block">
	               <h3><%=product.title%></h3>
                 <%= image_tag(product.image_url, :class => 'the_img') %>
                  <span class="price"><%=number_to_currency(product.price)%></span>
                  <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
	                <p>Soh Tanaka est traduit sur developpez.com.</p>
              </div>
          </div>
          <div class="product_description">
            <%= sanitize(product.description)%>
            <div class="price_line">
              <span class="price"><%=number_to_currency(product.price)%></span>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <%end%>
    <%end%>
  </div>
</section>
<section class="product_section_2">
  <header id="top" class="header-store">
    <div class="img-top container">
      <div class="img_tasse col-xs-2 col-xs-offset-6 col-sm-2 col-sm-offset-6 col-md-2 col-md-offset-6 col-lg-2 col-lg-offset-6"><%=image_tag("tasse-section-2.png")%></div>
    </div>
    <div class="block-sultan container">
      <h1 class="col-xs-5 col-xs-offset-5 col-sm-5 col-sm-offset-5 col-md-4 col-md-offset-5 col-lg-3 col-lg-offset-5 line_title">Les infusions du Roi</h1>
      <div class="row">
        <div class="img_back col-xs-10 col-xs-offset-0 col-sm-10 col-sm-offset-0 col-md-9 col-md-offset-0 col-lg-9 col-lg-offset-1"><%=image_tag("photo-back-section-2.jpg")%></div>
        <div class="illu_front col-xs-6 col-xs-offset-7 col-sm-6 col-sm-offset-7 col-md-4 col-md-offset-7 col-lg-4 col-lg-offset-7"><%=image_tag("illu-front-section-2.jpg")%></div>
      </div>
      <p class="txt_soli col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2"> le roi preferé des francais, François 1er fut connu pour son amour de l'élegance, du raffinement et de la culture. Contemporain
      de Soliman, ils établirent ensemble les premières relations diplomatiques au monde.</p>
    </div>
  </header>
  <div class="row prod">
    <% cache ['store', Product.latest] do %>
    <% @type2.each_with_index do |product, index| %>
    <% cache ['entry', product] do %>
      <div class="product-tile">
        <div class="entry col-xs-5 col-xs-offset-0 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 col col-lg-4 col-lg-offset-1 col">
          <h3><%= product.title %></h3>
          <div class="product_img img-responsive">
            <%= image_tag(product.image_url, :class => 'the_img') %>
            <%= link_to 'Discover', '#', class: %w(poplight discover), data: { rel: "popup_type2#{index}", width: "1000"} %>
              <div id="popup_type2<%= index %>" class="popup_block">
	               <h3><%=product.title%></h3>
                 <%= image_tag(product.image_url, :class => 'the_img') %>
                 <span class="price"><%=number_to_currency(product.price)%></span>
                 <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
                 <%= text_field_tag 'quantity' %>
	                <p>Soh Tanaka est traduitee sur developpez.com.</p>
              </div>
          </div>
          <div class="product_description">
            <%= sanitize(product.description)%>
            <div class="price_line">
              <span class="price"><%=number_to_currency(product.price)%></span>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <%end%>
    <%end%>
  </div>
</section>
<script>

jQuery(function($){

//Lorsque vous cliquez sur un lien de la classe poplight
$('a.poplight').on('click', function() {
  var popID = $(this).data('rel'); //Trouver la pop-up correspondante
  var popWidth = $(this).data('width'); //Trouver la largeur

  //Faire apparaitre la pop-up et ajouter le bouton de fermeture
  $('#' + popID).fadeIn().css({ 'width': popWidth}).prepend('<a href="#" class="close"><img src="/elem/exit.png" class="btn_close" title="Close Window" alt="Close" /></a>');

  //Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
  var popMargTop = ($('#' + popID).height() + 80) / 2;
  var popMargLeft = ($('#' + popID).width() + 80) / 2;

  //Apply Margin to Popup
  $('#' + popID).css({
    'margin-top' : -popMargTop,
    'margin-left' : -popMargLeft
  });

  //Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues d'anciennes versions de IE
  $('body').append('<div id="fade"></div>');
  $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();

  return false;
});


//Close Popups and Fade Layer
$('body').on('click', 'a.close, #fade', function() { //Au clic sur le body...
  $('#fade , .popup_block').fadeOut(function() {
    $('#fade, a.close').remove();
}); //...ils disparaissent ensemble

  return false;
});


});

</script>
